.topad {
  width: 100%;
  height: 300px;
  background-color: rgb(204, 204, 204);
}
.header {
  width: 100%;
  height: 180px;
}
.headercenter {
  width: 435px;
  height: 0%;
  display: block;
  margin: auto;

  margin-top: 5px;
  text-align: center;
}
.headerright {
  width: 300px;
  float: right;
}
.btn1 {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  padding: 12px 25px;
  border-radius: 5px;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgb(86, 123, 149);
}
.btn2 {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  padding: 12px 25px;
  border-radius: 5px;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgb(86, 123, 149);
}
.headerleft {
  width: 100px;
  margin-left: 20px;
}
#bars {
  margin-left: 10px;
  margin-right: 10px;
}
#main {
  width: 600px;
  display: block;
  margin-left: 370px;
  padding-left: 150px;
  font-family: "ChomskyRegular";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}
.headerbottomleft {
  width: max-content;
  margin-left: 30px;
}
.navbar {
  width: 100%;
  overflow: auto;
}
.navbar a {
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  margin-left: 10px;
}
.mainheadline {
  text-align: center;
}

#container {
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
}

#left1 {
  width: 20%;
  float: left;
}
#left2 {
  width: 20%;
  float: left;
}
#left3 {
  width: 20%;
  float: left;
}
#left4 {
  width: 20%;
  float: left;
}
#left5 {
  width: 20%;
  float: left;
}
