.topad {
  width: 100%;
  height: 300px;
  background-color: rgb(204, 204, 204);
}
.header {
  width: 100%;
  height: 180px;
}
.headercenter {
  width: 435px;
  height: 0%;
  display: block;
  margin: auto;

  margin-top: 5px;
  text-align: center;
}
.headerright {
  width: 300px;
  float: right;
}
.btn1 {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  padding: 12px 25px;
  border-radius: 5px;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgb(86, 123, 149);
}
.btn2 {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  padding: 12px 25px;
  border-radius: 5px;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgb(86, 123, 149);
}
.headerleft {
  width: 100px;
  margin-left: 20px;
}
#bars {
  margin-left: 10px;
  margin-right: 10px;
}
#main {
  width: 600px;
  display: block;
  margin-left: 370px;
  padding-left: 150px;
  font-family: "ChomskyRegular";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}
.headerbottomleft {
  width: max-content;
  margin-left: 30px;
}
.navbar {
  width: 100%;
  overflow: auto;
}
.navbar a {
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  margin-left: 10px;
}
.mainheadline {
  text-align: center;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
}

.left1 {
  width: 19.5%;
  float: left;
  border-right: 1px solid black;
  height: 120px;
  padding-left: 5px;
}
.left2 {
  width: 19.5%;
  float: left;
  border-right: 1px solid black;
  height: 120px;
  padding-left: 10px;
}
.left3 {
  width: 19%;
  float: left;
  border-right: 1px solid black;
  height: 120px;
  padding-left: 10px;
}
.left4 {
  width: 19.5%;
  float: left;
  border-right: 1px solid black;
  height: 120px;
  padding-left: 10px;
}
.left5 {
  width: 19;
  float: left;
  padding-left: 50px;
  padding-bottom: 10px;
}
.container2 {
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
}
.c2l {
  width: 17%;
  float: left;
  border-right: 1px solid black;
  height: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}
.c2m {
  width: 43%;
  float: left;
  height: 1200px;
  padding-left: 20px;
  padding-right: 10px;
}
.c2r {
  width: 35%;
  float: left;
  height: 1200px;
  padding-left: 20px;
  border-left: 1px solid black;
}
#house {
  width: 150px;
  height: 150px;
  float: right;
}
#img1 {
  width: 100px;
  float: left;
}
#img2 {
  width: 100px;
  float: left;
}
#img3 {
  width: 100px;
  float: left;
}
.c2rl {
  float: left;
  width: 40%;
  height: 800px;
  border-right: 1px solid black;
  padding-right: 10px;
}
.c2rr {
  float: left;
  width: 50%;
  padding-left: 10px;
}
#merlin {
  float: left;
  width: 600px;
  padding-left: 10px;
}
#food {
  width: 250px;
  padding-top: 10px;
}
#horror {
  width: 250px;
}
.container3 {
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
}
.c3r {
  width: 17%;
  float: left;

  height: 600px;
  padding-left: 10px;
  padding-right: 10px;
}
.c3l {
  width: 43%;
  float: left;
  height: 600px;
  padding-left: 20px;
  padding-right: 10px;
  border-right: 1px solid black;
}
.c3m {
  width: 35%;
  float: left;
  height: 600px;
  padding-left: 10px;
  border-right: 1px solid black;
  padding-right: 10px;
}
#germany {
  float: right;
  width: 250px;
}
#gym {
  float: right;
  width: 250px;
}
#retire {
  float: right;
  width: 250px;
}
.c41 {
  width: 24%;
  float: left;
  border-right: 1px solid black;
  height: 200px;
  padding-left: 5px;
}
.c42 {
  width: 25%;
  float: left;
  border-right: 1px solid black;
  height: 200px;
  padding-left: 10px;
}
.c43 {
  width: 24%;
  float: left;
  border-right: 1px solid black;
  height: 200px;
  padding-left: 10px;
}
.c44 {
  width: 24%;
  float: left;

  height: 200px;
  padding-left: 10px;
}
